{% load static wagtailimages_tags %}
<footer class="marketing-site-footer">
  <div class="grid-container">
    <div class="grid-x medium-unstack grid-padding-y">
    <div class="medium-4 large-4 cell text-center large-text-left">

      <img class="footer-logo" src="{% static 'difusion_cultural/img/logo_dif_white.svg' %}" alt="logo">

      <ul class="menu marketing-site-footer-menu-social simple align-center medium-align-left">
         <li><a href="//facebook.com/CulturaUMSNH/"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a></li>
         <li><a href="//twitter.com/CulturaUMSNH/"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a></li>
         <li><a href="//www.instagram.com/cultura_umsnh/"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="small-10 small-offset-1 medium-7 medium-offset-1 large-4 large-offset-0 cell">
       <h4 class="marketing-site-footer-title">Contacto</h4>
      <div class="marketing-site-footer-block">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <div style="margin-left: 5px;">
          <p>
            Dirección: Avenida Francisco J. Múgica S/N, Edificio Centro de Información, Arte y Cultura
            <br>
            Ciudad Universitaria, C.P. 58030, Morelia, Michoacán.
          </p>
          <a href="//goo.gl/maps/hRe6QYkZrnX5H77M7" target="_blank">Mapa <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <a href="tel:4433223500;4159">Teléfono: 44 33 22 35 00 ext. 2091</a>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <a href="mailto:sria.difusion.cultural.ext.univ@umich.mx" target="_blank">sria.difusion.cultural.ext.univ@umich.mx</a>
      </div>
    </div>

    <div class="large-4 cell text-center large-text-right">
            <img class="footer-logo-umich" src="{% static 'difusion_cultural/img/logo_umich_white.svg' %}" alt="umich logo">
    </div>

  </div>



</div>
<div class="marketing-site-footer-bottom">
  <div class="grid-container">
    <div class="grid-x large-unstack align-middle">
      <div class="column">
        <p>&copy; {% now 'Y' %} UMSNH Derechos reservados</p>
      </div>
      <div class="column">
        <ul class="menu marketing-site-footer-bottom-links">
          <li><a href="/transparencia">​​Transparencia</a></li>
          <li><a href="/terminos-y-condiciones">Términos y condiciones</a></li>
          <li><a href="/prensa-y-logos">Prensa y logos</a></li>
          <li><a href="/admin"><i class="fa fa-user-circle"></i></a></li>
          <li><a href="//umich.mx"><i class="fa fa-external-link" aria-hidden="true"></i> umich.mx</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


</footer>

