{% load static wagtailimages_tags %}
<footer class="marketing-site-footer">
  <div class="grid-container">
    <div class="grid-x medium-unstack grid-padding-y">
    <div class="medium-4 cell text-center medium-text-left">

      <img class="footer-logo" src="{% static 'difusion_cultural/img/logo_dif_white.svg' %}" alt="logo">

      <ul class="menu marketing-site-footer-menu-social simple align-center medium-align-left">
        <li><a href="#"><i class="fa fa-2x fa-youtube-square" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="small-10 small-offset-1 medium-4 medium-offset-0 cell">
       <h4 class="marketing-site-footer-title">Contacto</h4>
      <div class="marketing-site-footer-block">
        <i class="fa fa-map-marker" aria-hidden="true" style="color:white;"></i>
        <p>
          Dirección: Avenida Francisco J. Múgica S/N, Edificio Centro de Información, Arte y Cultura
          <br>
          Ciudad Universitaria, C.P. 58030, Morelia, Michoacán.
        </p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-phone" aria-hidden="true" style="color:white"></i>
        <p>Teléfono: (443) 322 3500 ext. 4159</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-envelope-o" aria-hidden="true"  style="color:white"></i>
        <p>difcult@umich.mx</p>
      </div>
    </div>

    <div class="medium-4 cell text-center medium-text-right">
            <img class="footer-logo-umich" src="{% static 'difusion_cultural/img/logo_umich_white.svg' %}" alt="umich logo">
    </div>

  </div>



</div>
  <div class="marketing-site-footer-bottom">
    <div class="grid-container">
      <div class="grid-x large-unstack align-middle">
        <div class="column">
          <p>&copy; 2019 Derechos reservados</p>
        </div>
        <div class="column">
          <ul class="menu marketing-site-footer-bottom-links">
            <li><a href="#">​​Transparencia</a></li>
            <li><a href="#">Términos y condiciones</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</footer>

