{% load wagtailimages_tags wagtailcore_tags static %}



{% for post in page.get_nuevos_bisnietos %}
<div class="item">

  {% image post.specific.imagen fill-600x800 as hero_small %}
  {% image post.specific.imagen fill-800x500 as hero_medium %}
  {% image post.specific.imagen fill-1400x550 as hero_large %}
  <figure>

    <img src="{{ hero_medium.url }}"
          alt="{{ post.title }}"
          data-interchange="[{{ hero_small.url }}, small],
                            [{{ hero_medium.url }}, medium],
                            [{{ hero_large.url }}, large]
                            ">

  </figure>

  <figcaption class="grid-x">
    <span class="label"><small>Cine</small></span>
    <div class="cell large-12">
      <div>
        <a href="{% pageurl post %}">
          <h3 class="font-bold">{{ post.title }}</h3>
          <p>{{ post.specific.introduccion }}</p>
          <b class="owlfront-item-details">
            <button class="button tiny primary">Ver más</button>
          </b>
        </a>
      </div>
    </div>
  </figcaption>

</div>
{% endfor %}

