{% extends "difusion_cultural/base.html" %}
{% load wagtailimages_tags wagtailcore_tags wagtail_html_support navigation_tags %}

{% block body_class %}template-difusionculturalnoticia{% endblock %}


{% block navigation %}

  {% include "./includes/navigation.html" %}

{% endblock %}


{% block content %}
<div class="hero">
  <div class="owl-carousel-article-gallery article-hero"> <!-- to add class: owl-carousel -->
    {% block hero %}

      {% include './includes/hero.html' %}

    {% endblock hero %}
  </div>
</div>

{% block grid %}
<div class="grid-container">
  <div class="grid-x">
    {% block main-cell %}
    <div class="medium-10 medium-offset-1 large-6 large-offset-1 cell intro-offset">

      <div class="intro card">
        <h4 class="title">{{ page.title }}</h4>

        <p>
            {{ page.introduccion}}  
        </p>
      </div>
      <div class="article-body">



        {{ page.cuerpo }}


    {% for item in page.galeria.all %}

        {{ item }}

    {% image item fill-200x100 %}
    {% endfor %}
    {% for tag in page.etiquetas.all %}

        {{ tag }}

    {% endfor %}

      </div>
    </div>
{% endblock main-cell %}

{% block sidebar %}
    <div class="medium-10 medium-offset-1 large-3 large-offset-1 cell">
      <ul class="menu vertical">
        {% for post in page.get_siblings %}
            <li><a href="{% pageurl post %}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
{% endblock sidebar %}
  </div>
</div>
{% endblock grid %}

{% endblock %}

