{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtail_html_support %}

{% block body_class %}template-difusionculturalhomepage{% endblock %}

{% block content %}

    {{ page }}

    {% for post in page.get_children %}
        <h2><a href="{% pageurl post %}">--{{ post.title }}--</a></h2>
        {{ post.specific.intro }}


    {% endfor %}
<hr />
    {% for post in page.get_nuevos_bisnietos %}

        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        {{ post.specific.introduccion }}
        {{ post.specific.fecha }}
        {{ post.specific.pk }}
        {{ post.specific.cuerpo }}
    {% endfor %}


{% endblock %}
