{% extends "difusion_cultural/base.html" %}

{% load wagtailcore_tags wagtailimages_tags navigation_tags %}

{% block body_class %}template-difusionculturalcartelera{% endblock %}


{% block navigation %}

  {% include "./includes/navigation.html" %}

{% endblock %}



{% block content %}

{% block grid %}

<div class="grid-container">
  <h3 class="top-puzher">{{ page.title }}</h3>
  <div class="grid-x grid-margin-x grid-margin-y">
    {% block main-cell %}

    {% for post in page.get_nietos %}
    <div class="medium-5 large-6 cell">
      <div class="card">

        {% image post.specific.imagen fill-800x150 %}

        <div class="card-section">
          <h4><a href="{% pageurl post %}">{{ post.title }}</a></h4>
          <p>
            {{ post.specific.introduccion }}
          </p>
        </div>

      </div>
    </div>
    {% endfor %}

    {% endblock main-cell %}


  </div>
</div>
{% endblock grid %}

{% endblock content %}

