{% extends "difusion_cultural/base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtail_html_support navigation_tags %}

{% block body_class %}template-difusionculturalpaginacategoria{% endblock %}


{% block navigation %}

  {% include "./includes/navigation.html" %}

{% endblock %}


{% block content %}

    {% block grid %}
    <div class="grid-container">
      <h3 class="top-pusher">{{ page.title }}</h3>
      <div class="grid-x grid-margin-x grid-margin-y" data-equalizer data-equalize-on="medium" id="equalized-grid">
        {% block main-cell %}

        {% for post in page.get_children %}
        <div class="medium-6 large-4 cell">
          <div class="card" data-equalizer-watch>

            {% image post.specific.imagen fill-700x400 as postimage %}
            <img src="{{ postimage.url }}" alt="{{ post.title }}">

            <div class="card-section">
              <h4><a href="{% pageurl post %}">{{ post.title }}</a></h4>
              <p>
                {{ post.specific.introduccion }}
              </p>
            </div>

          </div>

        </div>
        {% endfor %}


        {% endblock main-cell %}

{#        {% block sidebar %} #}
{#        <div class="medium-10 medium-offset-1 large-3 large-offset-1 cell"> #}
{#          <ul class="menu vertical"> #}
{#            {% for post in page.get_siblings %} #}
{#                <li><a href="{% pageurl post %}">{{ post.title }}</a></li> #}
{#            {% endfor %} #}
{#          </ul> #}
{#        </div> #}
{#        {% endblock sidebar %} #}
        </div>
      </div>
    {% endblock grid %}






{% endblock %}

