{% extends "difusion_cultural/base.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags %}

{% block body_class %}template-difusionculturalblog{% endblock %}


{% block navigation %}

    {% include "./includes/navigation.html" %}

{% endblock %}



{% block content %}

    {% block grid %}

        <div class="grid-container articles-grid">
            <h3 class="top-pusher">{{ page.title }}</h3>
            <div class="grid-x grid-margin-x grid-margin-y" data-equalizer data-equalize-on="medium"
                 id="equalized-grid">
                {% block main-cell %}

                    {% for post in posts %}
                        <div class="medium-10 large-8 cell">


                        <a href="/blog/categoria/{{ post.specific.categoria.slug }}/"><span
                                    class="label {{ post.specific.categoria.slug }}">{{ post.specific.categoria }}</span></a>


                            <div class="card borderless " data-equalizer-watch>


                                {% image post.specific.imagen fill-850x500 as postimage %}
                                <a href="{% pageurl post %}">
                                    <img src="{{ postimage.url }}" alt="{{ post.title }}">
                                </a>
                                <div class="card-section">
                                    <h6><a href="{% pageurl post %}">{{ post.title }}</a></h6>

                                    <ul class="menu vertical">
                                        {% if post.specific.first_published_at %}
                                            <li>
                                                <small>
                                                    {{ post.specific.first_published_at }}
                                                </small>
                                            </li>
                                        {% endif %}

                                        <a href="/blog/categoria/{{ post.specific.categoria.slug }}/"><span
                                                class="text-right label {{ post.specific.categoria.slug }}">{{ post.specific.categoria }}</span></a>

                                        {% if post.specific.owner %}
                                            <li>
                                                <small>
                                                    <em>
                                                        {{ post.specific.owner.first_name }} {{ post.specific.owner.last_name }}
                                                    </em>
                                                </small>
                                            </li>

                                        {% endif %}

                                    </ul>

                                    <div class="text-right">
                                        {% for tag in post.specific.etiquetas.all %}
                                            <a href="/blog/etiqueta/{{ tag.slug }}"><span
                                                    class="label">{{ tag }}</span></a>
                                        {% endfor %}
                                    </div>

                                    {{ post.specific.introduccion|richtext }}
                                    <a href="{% pageurl post %}" class="button primary">Leer más</a>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% endblock main-cell %}


            </div>
        </div>
    {% endblock grid %}

{% endblock content %}

