{% extends "difusion_cultural/base.html" %}

{% load wagtailcore_tags wagtailimages_tags navigation_tags %}

{% block body_class %}template-difusionculturaldependencia{% endblock %}


{% block navigation %}

  {% include "./includes/navigation.html" %}

{% endblock %}


{% block content %}



{% block grid %}

<div class="grid-container articles-grid">
  <h3 class="top-pusher">
    <small>Cartelera</small>
    <br>
    {{ page.title }}</h3>
  <div class="grid-x grid-margin-x grid-margin-y" data-equalizer data-equalize-on="medium" id="equalized-grid">
    {% block main-cell %}

    {% for post in page.get_children %}
    <div class="medium-6 large-4 cell">

      <a href="/{{ post.specific.difusion_cultural_cartelera_slug }}/categoria/{{ post.specific.categoria.slug }}/"><span
              class="label {{ post.specific.categoria.slug }}">{{ post.specific.categoria }}</span></a>

      <div class="card borderless box-shadow" data-equalizer-watch>



        {% image post.specific.imagen fill-700x400 as postimage %}
        <img src="{{ postimage.url }}" alt="{{ post.title }}">

        <div class="card-section">
          <h5><a href="{% pageurl post %}">{{ post.title }}</a></h5>
          <p>
            {{ post.specific.introduccion|richtext }}
          </p>

          <ul class="menu vertical">
            <li>
              <small>
                {% if post.specific.fecha_inicio.month != post.specific.fecha_fin.month %}
                  {% if post.specific.fecha_inicio.year != post.specific.fecha_fin.year %}
                    {{ post.specific.fecha_inicio|date:"j \d\e F \d\e\l Y" }}
                    {% else %}
                    {{ post.specific.fecha_inicio|date:"j \d\e F" }}
                  {% endif %}
                {% else %}
                  {{ post.specific.fecha_inicio|date:"j" }}
                {% endif %}
                {% if post.specific.fecha_inicio != post.specific.fecha_fin %}
                    al {{ post.specific.fecha_fin|date:"j \d\e F \d\e\l\ Y" }}{% endif %}
              </small>
            </li>

            <li>
              <small>
                {{ post.specific.hora_inicio }} - {{ post.specific.hora_fin }}
              </small>
            </li>

            {% if post.specific.ubicacion %}

            <li>
              <small>
                {{ post.specific.ubicacion|richtext }}
              </small>
            </li>
            {% endif %}


          </ul>

          {% if post.specific.consideraciones %}
          <p>
            <small>
              {{ post.specific.consideraciones|richtext }}
            </small>
          </p>
          {% endif %}
          <a href="{% pageurl post %}" class="button primary-color">Ver</a>

          <div class="tag-cloud">
            {% for tag in post.specific.etiquetas.all %}
            <a class="tag-cloud-individual-tag" href="/cartelera/etiqueta/{{ tag.slug }}">{{ tag }}</a>
            {% endfor %}
          </div>

        </div>

      </div>
    </div>
    {% endfor %}

    {% endblock main-cell %}


  </div>
</div>
{% endblock grid %}


{% endblock %}

