{% extends "difusion_cultural/base.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags %}

{% block body_class %}template-difusionculturalblog{% endblock %}


{% block navigation %}

  {% include "./includes/navigation.html" %}

{% endblock %}



{% block content %}

{% block grid %}

<div class="grid-container articles-grid">
  <h3 class="top-pusher">{{ page.title }}</h3>
  <div class="grid-x grid-margin-x grid-margin-y" data-equalizer data-equalize-on="medium" id="equalized-grid">
    {% block main-cell %}

    {% for post in posts %}
    <div class="medium-10 large-8 cell">

      <a href="/blog/categoria/{{ post.specific.categoria.slug }}/"><span class="label {{ post.specific.categoria.slug }}">
        {{ post.specific.categoria }}
      </span>
      {% endif %}
      {% endfor %}
      <div class="card borderless " data-equalizer-watch>



        {% image post.specific.imagen fill-850x500 as postimage %}
        <a href="{% pageurl post %}">
          <img src="{{ postimage.url }}" alt="{{ post.title }}">
        </a>
        <div class="card-section">
          <h6><a href="{% pageurl post %}">{{ post.title }}</a></h6>

          <ul class="menu vertical">
            {% if post.specific.first_published_at %}
            <li>
              <small>
                {{ post.specific.first_published_at }}
              </small>
            </li>
            {% endif %}

            <a href="/blog/categoria/{{ post.specific.categoria.slug }}/"><span
                   class="text-right label {{ post.specific.categoria.slug }}">{{ post.specific.categoria }}</span></a>


            {% if post.specific.owner %}
            <li>
              <small>
                <em>
                {{ post.specific.owner.first_name }} {{ post.specific.owner.last_name }}
              </em>
              </small>
            </li>
            {% endif %}

          </ul>


          <div class="tag-cloud">
            {% for tag in post.etiquetas.all %}
            <a class="tag-cloud-individual-tag" href="/blog/etiqueta/{{ tag.slug }}">{{ tag }}</a>
            {% endfor %}
          </div>

          <p>
            {{ post.specific.introduccion|richtext }}
          </p>
          <a href="{% pageurl post %}" class="button primary">Leer más</a>
          <hr>
        </div>
      </div>
    </div>
    {% endfor %}

    {% endblock main-cell %}


  </div>

  {% if posts.paginator.num_pages > 1 %}
      <div class="grid-x grid-margin-x grid-margin-y" data-equalizer data-equalize-on="medium">
          <div class="medium-12 large-12 cell">
              {{ posts.paginator.num_pages1 }}
              {{ paginas1 }}

              <nav aria-label="Pagination">
                  <ul class="pagination">
                      {% if posts.has_previous %}
                      <li class="pagination-previous"><a href="?p=1" aria-label="Next page">Primera <span class="show-for-sr">página</span></a></li>
                      <li class="pagination-previous"><a href="?p={{ posts.previous_page_number }} " aria-label="Next page">Ant. <span class="show-for-sr">página</span></a></li>
                      {% else %}
                      <li class="pagination-previous disabled">Primera <span class="show-for-sr">página</span></li>
                      <li class="pagination-previous disabled">Ant. <span class="show-for-sr">página</span></li>
                      {% endif %}

                      {% if posts.paginator.num_pages < 8 %}
                      {% for page_num in posts.paginator.page_range %}
                      {% if page_num == posts.number %}
                      <li class="current"><span class="show-for-sr">En página</span>{{ page_num }} </li>
                      {% else %}
                      <li><a href="?p={{ page_num }} " aria-label="Página {{ page_num }} ">{{ page_num }} </a></li>
                      {% endif %}
                      {% endfor %}
                      {% else %}

                      {% for page_num in paginas %}
                      {% if page_num == 0 %}
                      <li class="ellipsis" aria-hidden="true"></li>
                      {% elif page_num == posts.number %}
                      <li class="current"><span class="show-for-sr">En página</span>{{ page_num }} </li>
                      {% else %}
                      <li><a href="?p={{ page_num }} " aria-label="Página {{ page_num }} ">{{ page_num }} </a></li>
                      {% endif %}
                      {% endfor %}

                      {% endif %}

                      {% if posts.has_next %}
                      <li class="pagination-next"><a href="?p={{ posts.next_page_number }} " aria-label="Next page">Sig. <span class="show-for-sr">página</span></a></li>
                      <li class="pagination-next"><a href="?p={{ posts.paginator.num_pages }} " aria-label="Next page">Última <span class="show-for-sr">página</span></a></li>
                      {% else %}
                      <li class="pagination-next disabled">Sig. <span class="show-for-sr">página</span></li>
                      <li class="pagination-next disabled">Última <span class="show-for-sr">página</span></li>
                      {% endif %}

                  </ul>
              </nav>

          </div>
      </div>
  {% endif %}

</div>
{% endblock grid %}

{% endblock content %}

