{% extends "base.html" %}
{% load static %}

{% block body_class %}articulo-template{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

<header>
  <div data-sticky-container>
    <nav class="top-bar top-bar-sticky-shrink" id="main-menu" data-sticky data-top-anchor="1" data-margin-top="0" data-sticky-on="small">
        <div class="top-bar-left">
          <ul class="menu">
            <li><img src="assets/img/dif_img_logo.svg" alt=""></li>
            <li><img src="assets/img/dif_logotipo.svg" alt="Difusión Cultural"></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu align-right">
            <li class="menu-text show-for-medium"><img src="assets/img/dif_umich.svg" alt="umich"></li>
            <li class="menu-text"><button class="menu-icon" type="button" data-toggle="mainNavCanvasMenu"></button></li>
          </ul>
        </div>
    </nav>
  </div>


<div class="off-canvas position-right" id="mainNavCanvasMenu" data-off-canvas data-transition="overlap">

    <button class="close-button" aria-label="Cerrar menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
<br>
<br>
<br>
    <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
      <li><a href="article.html">Agenda</a></li>
      <li><a href="article.html">Agenda Digital de Cultura </a></li>
      <li><a href="article.html">Espacios. Conoce nuestras áreas</a></li>
      <li><a href="article.html">Contacto. Directorio</a></li>
      <li><a href="article.html">Transparencia</a></li>
      <li><a href="article.html">Deportes</a></li>
      <li><a href="article.html">Editorial Cultural</a></li>
      <li><a href="article.html">Noticias</a></li>
    </ul>
</div>
</header>
<div class="off-canvas-content" data-off-canvas-content>
  <div class="hero">
    <div class="owl-carousel-home-front owl-carousel">

      <div class="item">

        <figure>
          <img src="assets/img/owl/owl_001.jpg" alt="551 consectetur adipisicing elit" />
        </figure>

        <figcaption class="grid-x">
          <span class="label"><small>Cine</small></span>
          <div class="cell large-12">
            <hgroup>
              <a href="#">
                <h2 class="font-bold">551 consectetur adipisicing elit</h2>
                <h5>Adipisicing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum 551 dolor sit amet, 451 consectetur a</h5>
                <b class="owlfront-item-details">
                  <button class="button tiny primary">Ver más</button>
                </b>
              </a>
            </hgroup>
          </div>
        </figcaption>

      </div>
      <div class="item">

        <figure>
          <img src="assets/img/owl/owl_002.jpg" alt="Ced do eiusmod 551 elit" />
        </figure>

        <figcaption class="grid-x">
          <span class="label"><small>Cine</small></span>
          <div class="cell large-12">
            <hgroup>
              <a href="#">
                <h2 class="font-bold">Ced do eiusmod 551 elit</h2>
                <h5>Consectetur adipisicing elit. Lorem ipsum 551 dolor sit amet, 521 ced do eiusmod.</h5>
                <b class="owlfront-item-details">
                  <button class="button tiny primary">Ver más</button>
                </b>
              </a>
            </hgroup>
          </div>
        </figcaption>

      </div>
      <div class="item">

        <figure>
          <img src="assets/img/owl/owl_003.jpg" alt="551 consectetur adipisicing elit" />
        </figure>

        <figcaption class="grid-x">
          <span class="label"><small>Cine</small></span>
          <div class="cell large-12">
            <hgroup>
              <a href="#">
                <h2 class="font-bold">551 consectetur adipisicing elit</h2>
                <h5>Lorem ipsum 551 dolor sit amet, 201  adipisicing elit, sed do eiusmod tempor incididunt ut labore.</h5>
                <b class="owlfront-item-details">
                  <button class="button tiny primary">Ver más</button>
                </b>
              </a>
            </hgroup>
          </div>
        </figcaption>

      </div>
      <div class="item">

        <figure>
          <img src="assets/img/owl/owl_004.jpg" alt="Adipisicing consectetur elit" />
        </figure>

        <figcaption class="grid-x">
          <span class="label"><small>Cine</small></span>
          <div class="cell large-12">
            <hgroup>
              <a href="#">
                <h2 class="font-bold">Adipisicing consectetur elit</h2>
                <h5>Lorem ipsum 551 dolor sit amet, 431 consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</h5>
                <b class="owlfront-item-details">
                  <button class="button tiny primary">Ver más</button>
                </b>
              </a>
            </hgroup>
          </div>
        </figcaption>

      </div>
      <div class="item">

        <figure>
          <img src="assets/img/owl/owl_005.jpg" alt="Apnea bria lux elit" />
        </figure>

        <figcaption class="grid-x">
          <span class="label"><small>Cine</small></span>
          <div class="cell large-12">
            <hgroup>
              <a href="#">
                <h2 class="font-bold">Apnea bria lux elit</h2>
                <h5>Led do eiusmod tempor incididunt ut labore.</h5>
                <b class="owlfront-item-details">
                  <button class="button tiny primary">Ver más</button>
                </b>
              </a>
            </hgroup>
          </div>
        </figcaption>

      </div>
      <div class="item">

        <figure>
          <img src="assets/img/owl/owl_006.jpg" alt="Tempor incididunt ut labore 661" />
        </figure>

        <figcaption class="grid-x">
          <span class="label"><small>Cine</small></span>
          <div class="cell large-12">
            <hgroup>
              <a href="#">
                <h2 class="font-bold">Tempor incididunt ut labore 661</h2>
                <h5>Lorem ipsum 551 dolor sit amet, 661 consectetur adipisicing elit, sed do eiusmod.</h5>
                <b class="owlfront-item-details">
                  <button class="button tiny primary">Ver más</button>
                </b>
              </a>
            </hgroup>
          </div>
        </figcaption>

      </div>

    </div>
  </div>


  <div class="grid-container">
    <div class="grid-x news expos-grid">
      <div class="large-12 cell">
      <h4>Eventos
        <br>
        <small>Próximos</small>
      </h4>
      <hr>

        <div class="grid-x grid-margin-x grid-margin-y">

          <div class="cell medium-6 large-4 column-block">
            <a href="#">
              <div class="label-container">
                <span class="label secondary">Categoria</span>
              </div>
              <figure>
                <img src="https://unsplash.it/250/180?image=296" width="" height="auto" alt="">
              </figure>
              <figcaption>
                <span><small>Mix lorem ipzim</small></span>
              </figcaption>
              <div>
                <span class="title"><strong>Adipisicing elit</strong></span>
                <br>
                <span class="subtitle">Lorem ipsum dolor sit amet, consectetur.</span>
              </div>
            </a>
          </div>

          <div class="cell medium-6 large-4 column-block">
            <a href="#">
              <div class="label-container">
                <span class="label secondary">Categoria</span>
              </div>
              <figure>
                <img src="https://unsplash.it/250/180?image=296" width="" height="auto" alt="">
              </figure>
              <figcaption>
                <span><small>Mix lorem ipzim</small></span>
              </figcaption>
              <div>
                <span class="title"><strong>Adipisicing elit</strong></span>
                <br>
                <span class="subtitle">Lorem ipsum dolor sit amet, consectetur.</span>
              </div>
            </a>
          </div>

          <div class="cell medium-6 large-4 column-block">
            <a href="#">
              <div class="label-container">
                <span class="label secondary">Categoria</span>
              </div>
              <figure>
                <img src="https://unsplash.it/250/180?image=296" width="" height="auto" alt="">
              </figure>
              <figcaption>
                <span><small>Mix lorem ipzim</small></span>
              </figcaption>
              <div>
                <span class="title"><strong>Adipisicing elit</strong></span>
                <br>
                <span class="subtitle">Lorem ipsum dolor sit amet, consectetur.</span>
              </div>
            </a>
          </div>

          <div class="cell medium-6 large-4 column-block">
            <a href="#">
              <div class="label-container">
                <span class="label secondary">Categoria</span>
              </div>
              <figure>
                <img src="https://unsplash.it/250/180?image=296" width="" height="auto" alt="">
              </figure>
              <figcaption>
                <span><small>Mix lorem ipzim</small></span>
              </figcaption>
              <div>
                <span class="title"><strong>Adipisicing elit</strong></span>
                <br>
                <span class="subtitle">Lorem ipsum dolor sit amet, consectetur.</span>
              </div>
            </a>
          </div>

          <div class="cell medium-6 large-4 column-block">
            <a href="#">
              <div class="label-container">
                <span class="label secondary">Categoria</span>
              </div>
              <figure>
                <img src="https://unsplash.it/250/180?image=296" width="" height="auto" alt="">
              </figure>
              <figcaption>
                <span><small>Mix lorem ipzim</small></span>
              </figcaption>
              <div>
                <span class="title"><strong>Adipisicing elit</strong></span>
                <br>
                <span class="subtitle">Lorem ipsum dolor sit amet, consectetur.</span>
              </div>
            </a>
          </div>

          <div class="cell medium-6 large-4 column-block">
            <a href="#">
              <div class="label-container">
                <span class="label secondary">Categoria</span>
              </div>
              <figure>
                <img src="https://unsplash.it/250/180?image=296" width="" height="auto" alt="">
              </figure>
              <figcaption>
                <span><small>Mix lorem ipzim</small></span>
              </figcaption>
              <div>
                <span class="title"><strong>Adipisicing elit</strong></span>
                <br>
                <span class="subtitle">Lorem ipsum dolor sit amet, consectetur.</span>
              </div>
            </a>
          </div>


        </div>
      </div>
    </div>
  </div>



</div> <!-- off canvas page content Close-->

